.lead {
    margin: 56px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 984px;
}

@media screen and (max-width: 1279px) {
    .lead {
        margin: 56px min(max(48px + (100vw - 1024px) / 256 * 100, 0px), 148px) 0;
    }
}

@media screen and (max-width: 1023px) {
    .lead {
        margin: 48px max((100vw - 768px) / 256 * 48, 0px) 0;
    }
}