.intro {
    margin: 92px calc(min(max(48px + (100vw - 1024px) / 256 * 100, 0px), 148px)) 0;
}

@media screen and (max-width: 1023px) {
    .intro {
        margin: 88px calc(max((100vw - 768px) / 256 * 48, 24px)) 0;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        margin: 64px calc(max((100vw - 768px) / 256 * 48, 24px)) 0;
    }
}