.cover {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background: url(./../../images/cover-trains.jpg);
    background-size: cover;
    margin: 92px auto 0;
    max-width: 1184px;
}

.cover::before {
    content: ' ';
    padding-top: calc(100% / 1.6);
}

.cover:hover > .cover__overlay {
    opacity: 0.8;
}

@media screen and (max-width: 1279px) {
    .cover {
        margin: 92px calc(max((100vw - 1024px) / (1280 - 1024) * 48, 0px)) 0;
    }
}

@media screen and (max-width: 1023px) {
    .cover {
        margin-top: 90px;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        margin-top:66px;
    }
}